<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="MediaPortal 2 Package Gallery" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>

    <body>
        <header class="site">
            <div class="logobar">
                <a href="http://www.team-mediaportal.com/">
                    <div class="logobar-bg">
                        <img src="http://forum.team-mediaportal.com/templates/yoo_nano2/MediaPortal-HTPC-Media-Center.png" alt="MediaPortal Windows Media Center">
                    </div>
                    <div class="logobar-text">Packages</div>
                </a>
            </div>
            
            <nav>
                <div class="link"><a href="">Home</a></div>
            </nav>            
        </header>

        @RenderBody()

        <footer class="site">
            <article class="package-stats flex-container horizontal">
                <div class="flex-item">@ViewBag.PackageCount packages</div>
                <span>|</span>
                <div class="flex-item">@ViewBag.ReleaseCount releases</div>
                <span>|</span>
                <div class="flex-item">@ViewBag.DownloadCount downloads</div>
            </article>
            <hr />
            <article class="copyright">
                <p>&copy; @DateTime.Now.Year Team Media-Portal</p>
            </article>
        </footer>

        @Scripts.Render( "~/bundles/core" )
        @Scripts.Render( "~/bundles/site" )
        @RenderSection( "scripts", required: false )
    </body>
</html>
